<!DOCTYPE html>
<html>
<head>
  <title>Ilovelocalcoffee</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  <style>

  body {
    margin: 40px;
    background-color: #D2B48C;
  }

  div {
    margin: 0 0 50 0;
  }
  </style>

</head>

<body>

<%= yield %>

</body>
</html>
